<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" 3 href="~/Content/bootstrap.min.css" />
    @Styles.Render("~/Content/dropzonescss")
    <link rel="stylesheet"3 href="~/Content/sass/main.min.css" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header class="container-fluid main">
        <div class="row">
           @Html.Action("Menu", "Account")
        </div>
    </header>
    <div class="container-fluid body-content">
        @RenderBody()
        <footer>
           
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dropzonescripts")
    @RenderSection("scripts", required: false)
</body>
</html>
