@model  ICollection<streaming_inż.Models.UserSong>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Alert")
<div class="container">
    <article class="col-md-8 audio-container">
        <div class="row">
            @if (Model.Count > 0)
            {
                foreach (var song in Model)
                {
                    <section class="col-md-12 single-audio">
                        <div class="col-md-4 col-sm-4 audio-avatar" style="background-image: url('@song.avatarPath');">

                        </div>
                        <div class="col-md-7 col-sm-7 music-details">
                            <div>
                                <button onclick="Song.playCurrent(this)" class="control play" title="Play" data-id="@song.SongId">
                                    <span class="left"></span><span class="right"></span>
                                </button>
                                <span class="song-owner"><a href="#">@song.UserName</a></span>
                                <h1 class="song-title">@song.Title</h1>
                            </div>
                            <button class="btn btn-primary elapsed-time" type="button">
                                Data dodania <span class="badge">@song.UploadTime</span>
                            </button>
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="song-panel">
                                    <span class="glyphicon glyphicon-remove remove-song" onclick="Song.remove('@song.SongId')"></span>
                                    <span class="glyphicon glyphicon-ok add-song" onclick="Song.add('@song.SongId')"></span>
                                </div>
                            }
                        </div>
                    </section>
                }
            }
            else
            {
                <div>Nie dodałeś żadnych utworów. Zrób to teraz!</div>
            }
        </div>
    </article>
</div>
@Html.Partial("_songPlayer")