@using streaming_inż.Helpers
@using Microsoft.AspNet.Identity;

<div class="main-logo col-md-2">
    <h1>
        <a href="@Helpers.GetHomePath()">
            <img src="@Helpers.GetImage("sound-waves.png")" alt="">
        </a>
    </h1>
</div>
<div class="main-search col-md-4">
    <input type="search" name="" value="" placeholder="Find song or user">
</div>
<div class="main-menu col-md-5">
    <ul>
        @{
            if (User.Identity.IsAuthenticated)
            {
                <li>
                    @Html.ActionLink("Home", "Index", "Profile", new { userName = User.Identity.Name }, null)
                </li>
                <li>
                    <a href="#">Ulubione</a>
                </li>
                <li class="user-submenu">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            @User.Identity.Name
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Ustawienia</a></li>
                            <li>
                                @Html.ActionLink("Udostępnij muzykę", "UploadSong", "Profile")
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                @Html.ActionLink("Wyloguj", "LogOff", "Account")
                            </li>
                        </ul>
                    </div>
                </li>
            }
            else
            {
                <li>
                    @Html.ActionLink("Login / Rejestracja", "Login", "Account", new { @id = "login-btn" })
                </li>
            }
        }
    </ul>
</div>
