@using streaming_inż.Models
@model LoginViewModel

<div class="well login">

    @using(Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Login" })
        @Html.ValidationMessageFor(x => x.UserName)
        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Hasło" })
        @Html.ValidationMessageFor(x => x.Password)
        @Html.LabelFor(x => x.RememberMe)
        @Html.CheckBoxFor(x => x.RememberMe)

        <input type="submit" value="Zaloguj" class="btn-p1" />                  
        <div>
            <span>Nie masz konta?</span>
            @Html.ActionLink("Zarejestruj się!", "Register", "Account")
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}