@using System.Globalization

@model streaming_inż.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="register">
    <div class="registration-wrapper">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.TextBoxFor(x => x.UserName, new { @placeholder = "Nazwa użytkownika" })
            @Html.ValidationMessageFor(x => x.UserName)
            @Html.PasswordFor(x => x.Password, new { @placeholder = "Hasło" })
            @Html.ValidationMessageFor(x => x.Password)
            @Html.PasswordFor(x => x.ConfirmPassword, new { @placeholder = "Powtórz hasło" })
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
            @Html.TextBoxFor(x => x.Email, new { @placeholder = "E-mail" })
            @Html.ValidationMessageFor(x => x.Email)

            <button type="submit">zarejestruj się</button>
        }
     </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
