@using System.Globalization

@model streaming_inż.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="register">
    <div class="registration-wrapper">
        <div>
            <p>Lub zarejestruj się przy użyciu adresu E-mail</p>
        </div>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.TextBoxFor(x => x.UserName, new { @placeholder = "Nazwa użytkownika" })
            @Html.PasswordFor(x => x.Password, new { @placeholder = "Hasło" })
            @Html.PasswordFor(x => x.ConfirmPassword, new { @placeholder = "Powtórz hasło" })
            @Html.TextBoxFor(x => x.Email, new { @placeholder = "E-mail" })

            @*<label for="">Data urodzenia</label> 
            <fieldset>
                @Html.TextBoxFor(x => x.DayOfBirth, new { @type = "number", @maxlength = 2, @min = 1, @max = 31, @placeholder = "Dzień"})
                
                <select>
                    <option value="" selected disabled>Miesiąc</option>
                    @for (var monthNr = 1; monthNr < 13; monthNr++)
                    {
                        <option value="@monthNr">
                            @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(monthNr).
                        </option>
                    }
                </select>
                @Html.TextBoxFor(x => x.YearOfBirth , new { @type = "number", @maxlength = 4, @placeholder = "Rok" })
            </fieldset>
            <fieldset>
                <input id="man-gender" type="radio" name="gender" value="m">
                @Html.RadioButtonFor();

                <label for="man-gender"><span></span> Mężczyzna</label>
                <input id="woman-gender" type="radio" name="gender" value="k">
                <label for="woman-gender"><span></span> Kobieta</label>
            </fieldset>*@
            <button type="submit">zarejestruj się</button>
        }
     </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
