@model  List<streaming_inż.Models.UserSongs>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="col-md-8" style="margin-top: 20px;">
    <div class="row">
        @if (Model.Count > 0)
        {
            foreach (var song in Model)
            {
                <section class="col-md-12 single-audio">
                    <div class="col-md-4 col-sm-4 audio-avatar" style="background-image: url('@song.avatarPath');">

                    </div>
                    <div class="col-md-7 col-sm-7 music-details">
                        <div>
                            <button onclick="Song.playCurrent(this)" class="control play" title="Play" data-id="30852a05-bb23-4936-92b9-751667b73986_31">
                                <span class="left"></span><span class="right"></span>
                            </button>
                            <span class="song-owner"><a href="#">@song.UserName</a></span>
                        </div>
                        <h1 class="song-title">@song.Title</h1>
                        <span class="elapsed-time">@song.UploadTime</span>
                    </div>
                </section>
            }
        }
        else
        {
            <div>Nie dodałeś żadnych utworów. Zrób to teraz!</div>
        }
    </div>
</article>
@Html.Partial("_songPlayer")

